{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>{{ category.label }}</h2>
            
            <div class="content">
                
                <div>{{ category.description | raw}}</div> <br>
                <p> <b>Films dans cette catégorie : </b></p>
                <ul>
                {% for movie in liste %}
                    <li>{{ movie.title}}</li> 
                    <a href="{{ path('movie_show', {id: movie.id}) }}" class="btn btn-info">Voir la fiche</a>
                {% endfor %}
                </ul>
            </div>
            <a href="{{ path('category_edit', {id: category.id }) }}" class="btn btn-primary">Editer</a>
            <a href="{{ path('category_del', {id: category.id }) }}" class="btn btn-secondary">Supprimer</a>	
    </article>
    
{% endblock %}