{% extends 'base.html.twig' %}

{% block title %}Hello FymController!{% endblock %}

{% block body %}

<section class="films">

    {% for movie in movies %}
        
        <article>
            <h2>{{ movie.title }}</h2>

            {% if movie.category is not null %}
                <div class="metadata">Catégorie <b>{{ movie.category.label }}</b></div>
            {% endif %}  

            <div class="content">
                <img src="{{ movie.image }}" alt="">
                {{ movie.content | raw}}
                <a href="{{ path('movie_show', {id: movie.id}) }}" class="btn btn-primary">Voir la fiche</a>
            </div>

        </article>
    {% endfor %}


</section>

{% endblock %}
