{% extends 'base.html.twig' %}

{% block body %}

<section class="films">
    <div class="d-grid gap-2">
    <br><a href="{{ path('movie_create') }}" class="btn btn-lg btn-dark">Ajouter un film</a><br><br>
    </div>
    
    {% for movie in movies %}
        
       
        <div class="card mb-3">
            <h3 class="card-header">{{ movie.title }}</h3>
            {% if movie.category is not null %}
                <div class="card-body">Catégorie
                    <a href="{{ path('category_show', {id: movie.category.id}) }}" class="card-link">{{ movie.category.label }}</a>
                </div>
            {% endif %}
            <img src="{{ movie.image }}" class="d-block user-select-none" width="40%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              
                <div class="card-body">
                <p class="card-text">{{ movie.content | raw}}</p>
                <a href="{{ path('movie_show', {id: movie.id}) }}" class="btn btn-info">Voir la fiche</a>
                </div>
            
        </div>
    {% endfor %}


</section>

{% endblock %}
